---
name: Docker Build

on:
  push:
    branches:
      - main
      - master
    paths-ignore:
      - 'README.md'
  pull_request:
    paths-ignore:
      - 'README.md'

concurrency:
  group: ${{ github.ref }}-${{ github.workflow }}
  cancel-in-progress: true

jobs:
  call-docker-build:
    name: Call Docker Build

    uses: Deroino/docker-build-workflow/.github/workflows/reusable-docker-build.yaml@main

    permissions:
      contents: read
      packages: write
      pull-requests: write

    secrets:
      # GitHub Token for private downloads
      gh-token: ${{ secrets.GH_TOKEN }}

    with:
      # Registry settings
      ghcr-enable: true
      dockerhub-enable: false

      # Image names
      image-names: |
        ghcr.io/${{ github.repository }}
        docker.io/papillon0121/dujiaoka

      # Tag rules
      tag-rules: |
        type=raw,value=stable-{{date 'YYYYMMDD'}}-{{sha}},enable={{is_default_branch}},priority=300
        type=raw,value=latest,enable={{is_default_branch}},priority=100
        type=raw,value=gha-${{ github.run_id }},enable=${{github.event_name == 'pull_request'}},priority=200
        type=ref,event=pr,priority=100

      # Build settings
      context: "."
      platforms: linux/amd64

      # Build arguments
      build-args: |
        GH_TOKEN=gh-token